<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planets App</title>
</head>
<body>
    <h1>Planet App</h1>
    <p> An App for planets</p>
    <a class="planets-link" href="/planets">Browse Planets</a>
    <a class="planets-link" href="/planets/new">New Planets</a>
</body>
</html>