<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Planets Listed Here!!</h1>
    <ul>
        <% planets.forEach((planet) => { %>
            <li>
                <a href="/planets/<%= planet._id %>">
                    <%= planet.name %> is primarily made of <%= planet.matter %>s. It is planet number <%= planet.position %> 
                </a>
            </li>
        <% }) %>
        <p>
            <a href="/planets/new">Add Another!</a>
            <a href="/">Home Page</a>
        </p>
    </ul>
</body>
</html>